:root {
    --brand-blue: #0487D9;
    --brand-light-blue: #05AFF2;
    --brand-green: #57A519;
    --brand-light-green: #60BA1B;
    --brand-gray: #4B4646;
    --brand-light-gray: #A7A7B2;
    --brand-yellow: #FFCD00;
    --brand-orange: #FFA244;
    --title-font-d: 3.5rem;
    --title-font-m: 2.5rem;
    --paragraph-font-d: 2rem;
    --paragraph-font-m: 1.6rem;
    --subtitle-font: 2.5rem;
    --text-tiny-font: 1.6rem;
    --main-font: "Roboto", sans-serif;
    --secondary-font: "Roboto Slab", serif;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: var(--main-font);
    line-height: 1.5;
}

html {
    font-size: 62.5%;
}

.standard-title {
    color: var(--brand-blue);
    font-size: var(--title-font-d);
    font-weight: 600;
    text-align: center;
}

.standard-text {
    color: var(--brand-gray);
    font-size: var(--paragraph-font-d);
    font-weight: 400;
    text-align: justify;
}

.box-title {
    color: var(--brand-blue);
    font-size: var(--subtitle-font);
    font-weight: 600;
    text-align: center;
}

.box-text {
    color: var(--brand-gray);
    font-size: var(--text-tiny-font);
    font-weight: 400;
    text-align: justify;
}

/* 
Dividers 
*/

.separator-icon {
    max-width: 25px;
    text-align: center;
}

.separator-icon-box {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}

.separator-icon-box:before, .separator-icon-box:after {
    content: "";
    flex: 1 1;
    border-bottom: 3px solid var(--brand-green);
    margin: auto;
}

.separator-icon-box:before {
    margin-right: 10px
}

.separator-icon-box:after {
    margin-left: 10px
}

.main-button {
    font-size: 1.8rem;
    background-color: var(--brand-green);
    border-color: var(--brand-green);
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.divider-wrapper {
    width: 100%;
}

/*
Nav
*/

#navbarSupportedContent a {
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--brand-blue);
}

#navbarSupportedContent ul {
    list-style: none;    
}

#navbarSupportedContent a:hover {
    color: var(--brand-light-blue);
}

.site-logo {
    max-width: 150px;
}

/*
Footer
*/

.footer-title {
    font-size: 1.8rem;
    font-weight: 500;
}

.footer-column-box {
    background-color: var(--brand-blue);
    padding-top: 100px;
    padding-bottom: 100px;
}

.footer-column-box ul {
    margin-top: 15px;
    list-style-type: none;
    font-size: 1.4rem;
}

.footer-column-box li {
    margin-bottom: 5px;
}

.footer-column-box i {
    font-size: 1.6rem;
    margin-right: 7px;
}

.footer-copyright-box {
    background-color: #0373af;
}

.footer-copyright {
    font-size: 1.3rem;
    margin-top: 10px;
    margin-bottom: 10px;
    text-align: center;
}

/* 
Responsive
*/

@media (max-width: 991px) {
    #navbarSupportedContent {
        background-color: #FFFFFF;
        text-align: center;
    }
    #navbarSupportedContent a:hover {
        color: #FFFFFF;
        background-color: var(--brand-light-blue);
    }
    .navbar-toggler-icon {
        color: var(--brand-blue);
    }
    .site-logo {
        margin-left: 10px;
    }    
    .footer-column-box {
        padding-top: 50px;
        padding-bottom: 25px;
    } 
}

@media (max-width: 767px) {
    .site-logo {
        margin-left: 5px;
    }
}