.page-background-wrapper {
    background: url("../img/page-background.jpg") #0000004D;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    min-height: 400px;
}

#page-section .container {
    margin-top: -350px;
}

.page-title {
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);    
}

.page-content-box {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 50px;
    min-height: 70vh;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

@media (max-width: 991px) {
    .page-background-wrapper {
        min-height: 350px;
    }
    #page-section .container {
        margin-top: -300px;
    }
}

@media (max-width: 767px) {
    #page-section .container {
        margin-top: -325px;
    }
    .page-content-box {
        margin-top: 25px;
        padding: 25px;
    }
}