.page-background-wrapper {
    background: url("../img/page-background.jpg") #00000066;
    background-size: cover;
    background-position-y: bottom;
    background-position-x: center;
    background-attachment: fixed;
    background-blend-mode: multiply;
    min-height: 400px;
}

#page-section .container {
    margin-top: -350px;
}

.page-title {
    color: #FFFFFF;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);    
}

.page-content-box {
    background-color: #FFFFFF;
    border-radius: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
    padding: 50px;
    min-height: 70vh;
    overflow: auto;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.3);
}

.page-content-box p, .page-content-box img, .page-content-box iframe {
    max-width: 100%;
    height: auto;
}

.page-content-box p {
    color: var(--brand-gray);
    font-size: var(--paragraph-font-d);
    font-weight: 400;
    text-align: justify;    
}

/*
Forms
*/

.shortcode-form-wrapper {
    color: var(--brand-gray);
}

.shortcode-form-title {
    font-size: 3.5rem;
    text-align: center;
    display: block;
    color: var(--brand-green);
    font-weight: 600;
    margin-bottom: 20px;
}

.shortcode-form-section {
    margin-bottom: 50px;
}

.shortcode-form-wrapper .shortcode-form-instructions {
    font-size: 1.8rem;
    margin-bottom: 35px;
}

.shortcode-form-wrapper .shortcode-form-scale-instructions {
    font-size: 2rem;
    color: var(--brand-blue);
    font-weight: 600;
    margin-top: 35px;
}

.shortcode-form-label {
    font-size: 1.6rem;
}

.shortcode-form-input {
    font-size: 1.6rem;
}

.shortcode-form-scale-item-options-wrapper {
    font-size: 1.6rem;
    margin-top: 7px;
    margin-bottom: 10px;
}

.shortcode-form-scale-item-option {
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}

.shortcode-form-scale-item-label {
    margin-bottom: 0px;
}

.shortcode-form-errors {
    font-size: 1.6rem;
}

.shortcode-form-required-field {
    color: red;
}

.shortcode-form-button {
    background-color: var(--brand-green);
    border-color: var(--brand-green);
    font-size: 1.6rem;
    margin-top: 25px;
}

.shortcode-form-button:hover {
    background-color: var(--brand-light-green);
    border-color: var(--brand-light-green);
}

@media (max-width: 991px) {
    .page-background-wrapper {
        min-height: 350px;
    }
    #page-section .container {
        margin-top: -300px;
    }
}

@media (max-width: 767px) {
    #page-section .container {
        margin-top: -325px;
    }
    .page-content-box {
        margin-top: 25px;
        padding: 25px;
    }
    .shortcode-form-title {
        font-size: 2.5rem;
    }
    .shortcode-form-wrapper .shortcode-form-instructions {
        font-size: 1.6rem;
    }
    .shortcode-form-wrapper .shortcode-form-scale-instructions {
        font-size: 1.8rem;
    }
    .shortcode-form-label, .shortcode-form-input, .shortcode-form-scale-item-options-wrapper, .shortcode-form-errors, .shortcode-form-button {
        font-size: 1.4rem;
    }
}